html {
  font-family: sans-serif;
  background-color:#24273a;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5; 
  background-color:#24273a;
  color: #cad3f5;
}



* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
/* nav styles */
.hamburger{
    padding-right: 20px;
    cursor: pointer;
}
.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}
.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
    overflow: hidden;
   border-radius: 20px; 
}

.nav-links a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color:#f0c6c6;
   border-radius: 20px; 
}

.dropdown:hover .dropbtn, .nav-links a:hover, a:focus {
    background-color: #363a4f;
}

.dropdown {
    float: left;
    overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #f0c6c6;
  padding: 14px 16px;
  border-radius: 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}/* Add a red background color to navbar links on hover */
.dropdown-content {
    display: none;  
    border-radius: 20px;
    position: absolute;
    min-width: 160px;
    background-color: #6e738d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #a6da95;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
    border-radius: 20px;
}
h1 {
    color: #8aadf4;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:#ee99a0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.expanded {
    display: unset;
}

.dark body {
  background-color:#24273a;
  color: #cad3f5;
}
.dark html {
  background-color:#24273a;
}

.social {
    color: #b8c0e0;
    text-align: center;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }
    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger {
        display: none;
    }
}

