
---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nathan's Hobbies</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>About Me</h1>
        <p> I am currently working through Astro's intro tutorial and trying to learn how to make my own website. I enjoy tinkering with all sorts of things like drones and 3D printers. I am currently enrolled in a PhD program studying Geochemistry. This site is a repository of my learning, frustrations and knoweledge I gain along the way. </p>
        <p>This site will update as I complete the tutorial</p>
	</body>
</html>
