---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";
const skillColor = "#f5a97f";
const fontWeight = "bold";
const textCase = "uppercase";
---
<style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
        color: purple;
        font-size: 4rem;
    }

    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>
<BaseLayout pageTitle={pageTitle}>
    <h2> What is this website?</h2>
    <p>Thanks for visiting my website! This website is mostly a blog for things I am learning in school and outside. My
        interests are broad and include all the subjects you see in the website navigation menu above. One of my hobbies
        is programming, hence the creation of this website. I will be updating and changing the website as I go. I
        created the website through the Astro tutorial As of January 2023 I do not know any JavaScript and was still
        able to follow along pretty well. Most of my programming experience is with python, which I use a lot at school
        for data exploration, visualization and some light numerical modeling.</p>
    <h2>What I do</h2>
    I am currently in a PhD program studying Geochemistry. I have been dipping my toes into a few different
    projects for my thesis work in completely different fields.

    <p>One of them is a project on isotope fractionation of Zinc metal in an electrochemical cell.
        We are using an electrochemical cell in order to have greater control over the driving force of the reaction.
        This reaction is essentially just
        electroplating an electrode with Zn. We then scrape the metal off and run it through a mass spectrometer to
        understand the isotopic breakdown of the deposited material. Related to this, we are working with researchers
        from Europe and Canada to do similar experiments on Mercury(Hg) metal. There are not many people
        on this planet that can safely handle Hg metal in an electrochemical cell (our European collaborators ) and then
        again in a mass spectrometer(our Canadian collaborators).</p>

    <p>The other project I am just beginning to dive into is in regards to the behavior of Manganese (Mn) metal under
        extreme pressures. In order to get Mn to these high pressures we put it in something called a diamond anvil
        cell. This sounds like some fancy piece of equipment but it is actually an extremely simple device. If you have
        seen a diamond before with a typical round cut, you would know it has a large flat top that comes down to a
        point. Usually in rings and other jewelry, the large flat top is on display, but for the diamond anvil cell we
        are interested in the pointy end which is called the culet. Knowing that pressure is the amount of force per
        unit area, we can see that using a diamond with a small culet, we can achieve very high pressures. That is
        exactly what the diamond anvil cell does! It had a piston and a cylinder. In each of these components we have a
        diamond with the culet facing upwards. Pressing these diamonds together with a sample in between lets us
        compress
        materials to extremely high pressures. Probing the state of these materials makes use of another useful property
        of diamonds. Diamonds are optically transparent, meaning we can shoot light through them. So to understand the
        structure of the material under pressure we can use something called X-ray diffraction in which we shoot X-rays
        at the sample and see how they are scattered. This will tell us about the structure of the atoms and how they
        are all lined up, or if they are lined up at all. </p>

</BaseLayout>
