---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";
const skillColor = "#f5a97f";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <p>
    I didn't like my old about page but can't think of a new one currently. The
    last one didn't quite feel like <em>me</em> you know
  </p>
</BaseLayout>
