---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Blog"
---
<BaseLayout pageTitle = {pageTitle}>
        <p>Here you can find all of the posts I have written, from the time I started making this website with the Astro tutorial</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>

