---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecentTags from "../components/RecentTags.astro";
---
<BaseLayout pageTitle="Camping">
    <p>
        This section of my website is dedicated to camping. I plan to
        write about campsites I go to, what I like to cook when I
        camp, any products I use and love or hate etc. I am also
        planning on building a camper van in the coming months and
        will document my plans here.
        <RecentTags Chosentag="camping" />
    </p>

</BaseLayout>
