
---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecentTags from "../components/RecentTags.astro";
---
<BaseLayout pageTitle="Learning to Code">
    <h2>How I started coding</h2>
I am not a professional developer at all, but I do enjoy programming quite a bit. I started off with python around 2016 on and off. I used python to make some dumb rock paper scissor games and stupid cli input games. This helped me learn the sytax fairly quickly but I never had a reason to use it so I kind of stopped. A while later, I became interested in data science so I began to take some coursera courses on python and data science. I learned a lot from these then I started using python to do most of my school work that required any sort of calclulations and this is what really took me to the next level. I would later begin an internship at the Jet Propulsion Laboratory in which I used lots of python to add to some improvments to the processing of one of their Earth data sensors. I began to get bored with python and have delved into rust as well as some java, as you can see on this website. This section of my website will be about what I learn about development and different programming languages. I am not a good programmer, just a hobbyist so you should fact check me always. I hope I can help some people take the first jump into writing some software or make others laugh about how dumb I look. 
    <RecentTags Chosentag="coding"/>

