---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blog from "../components/Blog.astro";
const pageTitle = "Welcome to my blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    This blog is about all the things I am interested in. I have a wide variety
    of hobbies from arduino and electronics to rock climbing and camping. Check
    out the about page to learn a bit more about me.
  </p>
  <div align="center">
    <a href="https://www.free-website-hit-counter.com"
      ><img
        src="https://www.free-website-hit-counter.com/c.php?d=9&id=163560&s=55"
        border="0"
      />
    </a><br />
    <p>A hit counter!</p>
  </div>
  <Blog />
</BaseLayout>
