---
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <div class="dropdown">
    <button class="dropbtn"
      >Outdoors
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/camping/">Camping</a>
      <a href="/climbing/">Climbing</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn"
      >Tech
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/3dprinting/">3D-Printing</a>
      <a href="/electronics/">Electronics</a>
      <a href="/homeserver/">Home Server</a>
    </div>
  </div>
  <a href="/coding/">Coding</a>
  <a href="/linux/">Linux</a>
  <a href="/academics/">Academics</a>

  <a href="/tags/">Tags</a>
</div>
