---
const {platform, username} = Astro.props;
---
<a class="social-link" href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  .social-link {
    padding: 0.5rem 1rem;
    color:##fab387;
    background-color:#9399b2 	;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
  }
.social-link:visited {

    color:##fab387;
    background-color:#9399b2 	;
}
</style>
