---
const {platform, username} = Astro.props;
---
<a  href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  a {
    padding: 0.5rem 1rem;
    color:#11111b;
    background-color:#f2cdcd ;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
  }
</style>
