---
const { title, url, date } = Astro.props;
---

<div>
    <a class="post" href={url}>{title}</a>
    <time>{date}</time>
</div>

<style>
    .post img {
        width: 8em;
        display: block;
    }
    .post {
        flex-basis: 50%;
        flex-shrink: 1;
    }
</style>
