--- 
const {title, url, img, date}= Astro.props
---
<div><a class="post" href={url}>{title} <img src={img}> </a>
<time>{date}</time>
</div>

    <style>
        .post img {
            width: 12em;
            display: block;
        }
        .post {
            flex-basis: 50%;
            flex-shrink: 1;
}
    </style>
